*{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgb(3, 37, 65);
  padding: 15px;
  display: flex;
  justify-content: space-evenly ;
  position: relative;
  overflow: hidden;
  height: 5vh;
}

.tmdbLogo{
  height:35px;
  width: 155px; 
  padding-right: 15px;
}

.itemsForNavbar1{
  display: flex;
  color: white;
  margin-right: 20%;
}

.itemsForNavbar2{
  display: flex;
  justify-content: space-evenly;
}
.navbar > .itemsForNavbar1 > .insideElements {
  color: white;
  width: 90px;
  font-weight: 500;
  margin-top: 5px;

}

.navbar > .itemsForNavbar1 > .insideElements > a{
  text-decoration: none;
  color: white;
}

.navbar > .itemsForNavbar2 > .insideElements{
  color: white;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;

}

.navbar > .itemsForNavbar2 > .insideElements > a{
  color: white;
  text-decoration: none;
}

.EnButton{
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: white;
  border-color: white;
  background-color: rgb(3, 37, 65);
  border-width: 1px;
}

.searchIcon{
  width: 25px;
  height: 25px;
}

.body{
  display: flex;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;

  justify-content: center;
  align-items: center;
  align-content: center;


}

.body > .firstDiv{
  background-size: cover;
  background-image: url('images.jpg');
  background-color:rgb(3, 37, 65); 
  background-repeat:no-repeat;
  width: 1300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

} 
.body > .firstDiv > p{
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  color: white;
}

.body > .firstDiv > .WelcomeP{
  font-size: 3em;
  font-weight: 700;
}

.body > .firstDiv > .inputField{
  margin-top: 30px;
  width: 95%;
  height: 45px;
  font-size: 1em;
  border-radius: 30px;
  border-style: none;
  line-height: 46px;
  margin-top: 50px;
}


input[type="text"]::placeholder {  
  padding-left: 20px; 
} 

.body2{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items:flex-start;
  margin-left:10% ;

}

.body2 > .firstDiv2{

  display: flex;
  flex-direction: row;
  z-index: 1;
}

.body2 > .firstDiv2 >h1{
  margin: 0;
  white-space: no-wrap;
}

.body2 > .firstDiv2 > .buttonDiv{
  border-style:solid;
  border-color: black;
  border: 1px solid rgba(3, 37, 65);
  border-radius: 30px;
  height: 23px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  align-items: stretch;
  margin-left: 10px;
}

.body2 > .firstDiv2 > .buttonDiv > .buttonInsideFirstDiv2{
  border-style: none;
  font-size: 1em;
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-weight:500;
}

.body2 > .secondDiv2 > .imageA > img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

img, a img{
  outline: none;
}
